<div class="row justify-content-between align-items-center p-3">
    <div class="col-8">
        <h2>Heisenberg<sub>El Cocinero</sub>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius officiis architecto quod ea nam eos deleniti aperiam repudiandae ipsam recusandae perspiciatis excepturi, soluta assumenda molestiae vitae fugiat sit, inventore accusantium.</p>
    </div>
    <div class="col-4 h-25 " style="height: 30vh; width: 30vh;">
        <img style="width: 200px; height: 200px; border-radius: 50%;" src="https://static.wikia.nocookie.net/breakingbad/images/3/3a/Alfombra-breaking-bad-mod3-large2.jpg/revision/latest?cb=20190622081645&path-prefix=es" alt="">
    </div>
</div>

